div#board{
  width: 420px;
  height: 420px;
  vertical-align: top;
}

#board button {
  width:33%;
  height:130px;
  font-size:42px;
  vertical-align: top;
}

.X {
  color:blue;
}

.O {
  color: red;
}
